:root {
    --border-radius: 10px;
    --color-patcher-bg: #d3d1d1;
}

@media (prefers-color-scheme: dark) {
    :root[color-mode="user"] {
        --color-patcher-bg: #535353;
    }
}

img {
    border-radius: var(--border-radius)
}

/* Linked card */
aside[linked_card] {
    cursor: pointer;
}

aside[image_card] {
    padding: 0;
    text-align: center;
}
aside[image_card] h1 {
    margin-top: 5px;
    margin-bottom: 10px;
}
aside[image_card] img {
    width: var(--width-card);
    height: 190px;
    object-fit: cover;
}

/* Smaller nav margin */
nav[small] {
    margin: 0;
}


/* Div center */
div .center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
div .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}