:root {
    --border-radius: 10px;
}

img {
    border-radius: var(--border-radius)
}

/* Linked card */
aside[linked_card] {
    cursor: pointer;
}

aside[image_card] {
    padding: 0;
    text-align: center;
}
aside[image_card] h1 {
    margin-top: 5px;
    margin-bottom: 10px;
}
aside[image_card] img {
    width: var(--width-card);
    height: 190px;
    object-fit: cover;
}

/* Smaller nav margin */
nav[small] {
    margin: 0;
}